<div class="mt-3 ml-2">
  <form [formGroup]="seriesAnswerTypeForm">
    <div formArrayName="answerSeries">
      <h1>Series Answers</h1>
      <button class="default-btn ml-2" (click)="addNewAnswerRow()">Add Series Answer</button>
      <div *ngFor="let answerSeries of answerSeries.controls; let i = index;" [formGroupName]='i'>
        <div>
          <label>Display Text:</label>
          <input class="form-control" formControlName="displayText" placeholder="Enter Display Text" />
        </div>
        <div>
          <label>value:</label>
          <input class="form-control" formControlName="answerLabel" placeholder="Enter Value" />
        </div>
      </div>
    </div>
  </form>
</div>
<button class="default-btn" (click)="deleteAnswerRow(i)" *ngIf="answerSeries.controls.length > 0">Delete Answer</button>